@import "colors.scss";

.chatSystemMessage {
  text-align:center;
  margin-top: 45px;
  margin-bottom: 45px;



  &__text {
    display:inline-block;
    vertical-align:top;
    font-size:14px;
    font-style:italic;
    color:#000;
    line-height: 20px;
    margin-right: 15px;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: top;
      border-radius: 50%;
      width: 1em;
      height: 1em;
      margin-right: 0.6em;
      margin-top: 0.15em;
      transform: scale(0.9);
    }

    .chatSystemMessage_success & {
      &:before {
        background-color:$green;
      }
    }

    .chatSystemMessage_fail & {
      &:before {
        background-color:$red;
      }
    }
  }
}