.chatArea {
  display:flex;
  flex-direction: column;
  height:100%;
  padding-left:11px;

  &__collocutorBar {
    height:70px;
    border-bottom:1px solid #d3d3d3;
    margin-right:10px;
  }

  &__messagesList {
    flex:1;

  }

  &__newMessage {
    margin-rifht:10px;
    border-top:1px solid #d3d3d3;
    height:66px;
  }

}