@import "common.scss";

.chatPage {
  display:flex;
  width: 100%;
  height:100%;

  &__contacts {
    width:320px;
    background-color: #eee;

    @media (max-width: $screen-sm-max) {
      display:none;
    }
  }

  &__chatArea {
    flex:1;
  }

}